{
  "trailingComma": "all",
  "singleQuote": true,
  "tabWidth": 2,
  "jsxBracketSameLine": true,
  "bracketSpacing": true,
  "printWidth": 120,
  "filepath": "src/**/*.{js,jsx,ts,tsx,json,css,scss,md}"
}
